<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <ul id="log">

            </ul>
        </div>
        <div id="footer">
        </div>
    </div>
</body>
  <script type="text/javascript">
    $(function () {
      var hub = $.connection.logHub,
          log = $('#log');
      
      hub.client.sendLogEvent = function (logEvent) {
        var date = new Date(logEvent.Timestamp);
        log.append('<li>' + date.toLocaleTimeString() + ': ' + logEvent.RenderedMessage + '</li>');
      };

      $.connection.hub.start();
    });
  </script>
</html>
